@model ZapX.Models.Ticket
@using Microsoft.AspNetCore.Identity
@inject UserManager<BTUser> UserManager


@{
    ViewData["Title"] = "Details";
    var user = await UserManager.GetUserAsync(User);
}

<h1 class="text-center">Ticket Details</h1>

<div>
    <h4>Project: <b>@Model.Project.Name</b></h4>
    <h5>Ticket: <b>@Model.Title</b></h5>
    <div class="row">
        <div class="col">
            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
            {
                <a class="btn btn-success text-dark" data-target="#edit" data-toggle="modal">Edit Ticket</a>
            }
        </div>
        <div class="col text-center">
            <a class="btn btn-primary text-dark btn-lg" data-target="#history" data-toggle="modal">Ticket History</a>
        </div>
        <div class="col"></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">About</h2>
                </div>
                <div class="card-body">
                    <h5>What's going on?</h5>
                    <br />
                    @Html.DisplayFor(model => model.Description)
                </div>
                <div class="card-footer">
                    <span class="float-right"><b>Created on:</b> @Html.DisplayFor(model => model.Created)</span>
                    <br />
                    @if (Model.Updated != null)
                    {
                        <span class="float-right"><b>Last updated on:</b> @Html.DisplayFor(model => model.Updated)</span>
                    }
                    else
                    {
                        <span class="float-right"><em>This ticket has not been updated</em></span>
                    }
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Current Information</h2>
                </div>
                <div class="card-body">
                    <b>Type:</b> @Html.DisplayFor(model => model.TicketType.Name)
                    <hr />
                    <b>Priority:</b> @Html.DisplayFor(model => model.TicketPriority.Name)
                    <hr />
                    <b>Status:</b> @Html.DisplayFor(model => model.TicketStatus.Name)
                    <hr />
                    <b>Developer:</b> @Html.DisplayFor(model => model.DeveloperUser.FullName)
                    @if (User.IsInRole("Admin"))
                    {
                        <hr />
                        <b>Created by:</b> @Html.DisplayFor(model => model.OwnerUser.FullName)
                    }

                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Attachments (@Model.Attachments.Count())</h2>
                </div>
                <div class="card-body">
                    @foreach (var attachment in Model.Attachments)
                    {
                        <a data-toggle="modal" data-target="#@attachment.Description" class="btn btn-outline-info"><img class="img-thumbnail" src="@attachment.FilePath" alt="@attachment.Description" style="width:75px;height:75px" /></a>
                        <div class="modal fade" id="@attachment.Description">
                            <div class="modal-dialog-centered modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">File Name: @attachment.Description</h5>
                                    </div>
                                    <div class="modal-body text-center">
                                        <img src="@attachment.FilePath" alt="@attachment.Description" style="width:400px;height:400px" />
                                        <hr />
                                    </div>
                                    <p>Submitted by <b>@attachment.User.FullName</b> on <b>@attachment.Created.ToString("MMM dd")</b> at <b>@attachment.Created.ToString("h:mm tt")</b></p>
                                    <div class="modal-footer">
                                        <form asp-action="Delete" asp-controller="TicketAttachments" asp-route-id="@attachment.Id" class="form-group">
                                            @if (User.IsInRole("Admin") || (User.IsInRole("ProjectManager")) || (attachment.User.Id == user.Id))
                                            {
                                                @Html.Hidden("TicketId", Model.Id)
                                                <input type="submit" value="Remove" class="btn btn-danger" />
                                            }
                                            <button type="button" class="btn btn-info" data-dismiss="modal">Back</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <a class="btn btn-success text-dark float-right" data-toggle="modal" data-target="#attachment">Add Attachment</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Comments (@Model.Comments.Count())</h2>
                </div>
                <div class="card-body">
                    @foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
                    {
                        <form asp-action="Delete" asp-controller="TicketComments" asp-route-id="@comment.Id" class="form-group">
                            <b>@comment.User.FullName</b> said <span style="color:white">"@comment.Comment"</span>  on <em>@comment.Created.ToString("MM/dd/yyyy")</em> at <em>@comment.Created.ToString("h:mm tt")</em>&nbsp;&nbsp;
                            @if (User.IsInRole("Admin") || (User.IsInRole("ProjectManager")) || (comment.User.Id == user.Id))
                            {
                                @Html.Hidden("TicketId", Model.Id)
                                <input type="submit" value="x" class="bg-light text-dark rounded" />
                            }
                        </form>
                        <br />
                    }
                </div>
                <div class="card-footer">
                    <form asp-action="Create" asp-controller="TicketComments">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.Hidden("TicketId", Model.Id)
                        <div class="form-group">
                            <textarea name="Comment" class="form-control" placeholder="Leave your comment here..."></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit Comment" class="btn btn-success float-right" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<br />

<div class="text-center">
    <a class="btn btn-info" asp-action="Details" asp-controller="Projects" asp-route-id="@Model.ProjectId">Back to Project</a>
    <a class="btn btn-info" asp-action="Index">Back to Open Tickets</a>
</div>


<div class="modal" id="history">
    <div class="modal modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Ticket Edit History</h4>
                <button type="button" class="btn" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body" style="background-color:#222736">

                                    <table id="anotherTable" class="table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Property
                                                </th>
                                                <th>
                                                    Old Value
                                                </th>
                                                <th>
                                                    New Value
                                                </th>
                                                <th>
                                                    Created
                                                </th>
                                                <th>
                                                    Editor
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Histories)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Property)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.OldValue)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.NewValue)
                                                    </td>
                                                    <td>
                                                        @item.Created.ToString("MM/dd/yyyy hh:mm tt")
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.User.FullName)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="attachment">
    <div class="modal modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Add an Attachment</h4>
                <button type="button" class="btn bg-dark text-light" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-md-4">
                                    <form asp-action="Create" asp-controller="TicketAttachments" asp-route-id="@Model.Id" enctype="multipart/form-data">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        @Html.Hidden("TicketId", Model.Id)
                                        <div class="form-group">
                                            <label for="FileName" class="control-label"></label><br />
                                            <input name="attachment" type="file" multiple />
                                        </div>
                                        @*<div class="form-group">
                                                <label asp-for="FileData" class="control-label"></label>
                                                <input asp-for="FileData" class="form-control" />
                                                <span asp-validation-for="FileData" class="text-danger"></span>
                                            </div>*@
                                        @*<div class="form-group">
                                                <label asp-for="Description" class="control-label"></label>
                                                <input asp-for="Description" class="form-control" />
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>*@
                                        @*<div class="form-group">
                                                <label asp-for="Created" class="control-label"></label>
                                                <input asp-for="Created" class="form-control" />
                                                <span asp-validation-for="Created" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="TicketId" class="control-label"></label>
                                                <select asp-for="TicketId" class="form-control" asp-items="ViewBag.TicketId"></select>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="UserId" class="control-label"></label>
                                                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                                            </div>*@
                                        <div class="form-group">
                                            <input type="submit" value="Submit Attachment" class="btn btn-info" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="edit">
    <div class="modal modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Edit Ticket</h4>
                <button type="button" class="btn" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="ProjectId" />
                                <input type="hidden" asp-for="Created" />
                                <input type="hidden" asp-for="OwnerUserId" />
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                {
                                    <div class="form-group">
                                        <label asp-for="TicketTypeId" class="control-label"></label>
                                        <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                                        <span asp-validation-for="TicketTypeId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="TicketPriorityId" class="control-label"></label>
                                        <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                                        <span asp-validation-for="TicketPriorityId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="TicketStatusId" class="control-label"></label>
                                        <select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
                                        <span asp-validation-for="TicketStatusId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DeveloperUserId" class="control-label"></label>
                                        <select asp-for="DeveloperUserId" class="form-control" asp-items="ViewBag.DeveloperUserId"></select>
                                        <span asp-validation-for="DeveloperUserId" class="text-danger"></span>
                                    </div>
                                }
                                else
                                {
                                    <input type="hidden" asp-for="TicketTypeId" />
                                    <input type="hidden" asp-for="TicketPriorityId" />
                                    <input type="hidden" asp-for="TicketStatusId" />
                                }
                                <div class="form-group">
                                    <input type="submit" value="Save Changes" class="btn btn-info" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


