@model ZapX.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Ticket Details</h1>

<div>
    <h4>Project: <b>@Model.Project.Name</b></h4>
    <h5>Ticket: <b>@Model.Title</b></h5>
    <h6>Comments: <b>@Model.Comments.Count()</b></h6>
    <h6>Attachments: <b>@Model.Attachments.Count()</b></h6>
    <a class="btn btn-info text-dark" data-target="#history" data-toggle="modal">Ticket History</a>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.Name)
            </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPriority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketPriority.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketStatus.Name)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OwnerUser)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OwnerUser.Id)
            </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeveloperUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeveloperUser.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attachments)
        </dt>
        <dd class="col-sm-10">
            @foreach (var attachment in Model.Attachments)
            {
                <a data-toggle="modal" data-target="#@attachment.Description" class="btn btn-outline-info"><img class="img-thumbnail" src="@attachment.FilePath" alt="@attachment.Description" style="width:100px;height:100px" /></a>
                <div class="modal fade" id="@attachment.Description">
                    <div class="modal-dialog-centered modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">File Name: @attachment.Description</h5>
                            </div>
                            <div class="modal-body text-center">
                                <img src="@attachment.FilePath" alt="@attachment.Description" style="width:400px;height:400px"/>
                                <hr />
                            </div>
                            <p>Submitted by <b>@attachment.User.FullName</b> on <b>@attachment.Created.ToString("MMM dd")</b> at <b>@attachment.Created.ToString("h:mm tt")</b></p>
                            <div class="modal-footer">
                                <form asp-action="Delete" asp-controller="TicketAttachments" asp-route-id="@attachment.Id" class="form-group">
                                    @*<input type="hidden" asp-for="Id" />*@
                                    @Html.Hidden("TicketId", Model.Id)
                                    <input type="submit" value="Remove" class="btn btn-danger" />
                                    <button type="button" class="btn btn-info" data-dismiss="modal">Back</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-10">
            @foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
            {
                @comment.Created.ToString("MMM dd H:mm")
                <span> : </span>
                @comment.User.FullName
                <span> : </span>
                @comment.Comment
                <span> : </span>
                <form asp-action="Delete" asp-controller="TicketComments" asp-route-id="@comment.Id" class="form-group">
                    @Html.Hidden("TicketId", Model.Id)
                    <input type="submit" value="Remove" class="btn btn-danger" />
                </form>
                <br />
            }
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-5">
        <div class="card border-dark mb-2">
            <div class="card-header border-dark">
                <dt>Leave a Comment/Attachment</dt>
            </div>
            <div class="card-body border-dark">

                <form asp-action="Create" asp-controller="TicketComments">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.Hidden("TicketId", Model.Id)
                    <div class="form-group">
                        <textarea name="Comment" class="form-control" placeholder="Leave your comment here..."></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit Comment" class="btn btn-success" />
                        <a class="btn btn-success text-dark" data-toggle="modal" data-target="#attachment">Add Attachment</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
    {
        <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a class="btn btn-info" asp-action="Details" asp-controller="Projects" asp-route-id="@Model.ProjectId">Back to Project</a>
    <a class="btn btn-info" asp-action="Index">Back to Open Tickets</a>
</div>


<div class="modal" id="history">
    <div class="modal modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Ticket Edit History</h4>
                <button type="button" class="btn" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <table id="anotherTable">
                                <thead>
                                    <tr>
                                        <th>
                                            Property
                                        </th>
                                        <th>
                                            Old Value
                                        </th>
                                        <th>
                                            New Value
                                        </th>
                                        <th>
                                            Created
                                        </th>
                                        <th>
                                            Ticket
                                        </th>
                                        <th>
                                            User
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Histories)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Property)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OldValue)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NewValue)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Created)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Ticket.Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.User.FullName)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="attachment">
    <div class="modal modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Add an Attachment</h4>
                <button type="button" class="btn bg-dark text-light" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-md-4">
                                    <form asp-action="Create" asp-controller="TicketAttachments" asp-route-id="@Model.Id" enctype="multipart/form-data">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        @Html.Hidden("TicketId", Model.Id)
                                        <div class="form-group">
                                            <label for="FileName" class="control-label"></label><br />
                                            <input name="attachment" type="file" multiple />
                                        </div>
                                        @*<div class="form-group">
                                                <label asp-for="FileData" class="control-label"></label>
                                                <input asp-for="FileData" class="form-control" />
                                                <span asp-validation-for="FileData" class="text-danger"></span>
                                            </div>*@
                                        @*<div class="form-group">
                                                <label asp-for="Description" class="control-label"></label>
                                                <input asp-for="Description" class="form-control" />
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>*@
                                        @*<div class="form-group">
                                                <label asp-for="Created" class="control-label"></label>
                                                <input asp-for="Created" class="form-control" />
                                                <span asp-validation-for="Created" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="TicketId" class="control-label"></label>
                                                <select asp-for="TicketId" class="form-control" asp-items="ViewBag.TicketId"></select>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="UserId" class="control-label"></label>
                                                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                                            </div>*@
                                        <div class="form-group">
                                            <input type="submit" value="Submit Attachment" class="btn btn-info" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



