@using Microsoft.AspNetCore.Identity
@using ZapX.Services
@model ZapX.Models.ViewModels.TicketProjectsViewModel
@inject UserManager<BTUser> UserManager
@inject IBTAccessService AccessService

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">All Tickets</h1>

@if (User.Identity.IsAuthenticated)
{
    <a class="btn btn-success text-dark" data-toggle="modal" data-target="#create">Create a Ticket</a>
}
@if (User.IsInRole("Admin"))
{
    <a class="btn btn-info text-dark" data-toggle="modal" data-target="#priority">Ticket Priorities</a>
    <a class="btn btn-info text-dark" data-toggle="modal" data-target="#statuses">Ticket Statuses</a>
    <a class="btn btn-info text-dark" data-toggle="modal" data-target="#type">Ticket Types</a>
}
<hr />
<br />
<div class="card">
    <div class="card-header">
        <h3 class="text-right">Ticket Count: @Model.Tickets.Count() </h3>
    </div>
    <div class="card-body">
        <table class="myTable table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Ticket.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ticket.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ticket.Created)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Updated)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Project)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ticket.TicketType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ticket.TicketPriority)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ticket.TicketStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ticket.DeveloperUser)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ticket.OwnerUser)
                    </th>
                    <th>
                        Details
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tickets)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Updated)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Project.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                        </td>
                        <td>
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@*LOOK AT ALL THESE MODALS*@

<div class="modal" id="create">
    <div class="modal modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Create a Ticket</h4>
                <button type="button" class="btn" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <form asp-action="Create" asp-controller="Tickets" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Ticket.ProjectId" class="control-label"></label>
                                    <select asp-for="Ticket.ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Ticket.Title" class="control-label"></label>
                                    <input asp-for="Ticket.Title" class="form-control" />
                                    <span asp-validation-for="Ticket.Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Ticket.Description" class="control-label"></label>
                                    <input asp-for="Ticket.Description" class="form-control" />
                                    <span asp-validation-for="Ticket.Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Ticket.TicketTypeId" class="control-label"></label>
                                    <select asp-for="Ticket.TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                                </div>
                                @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                {
                                    <div class="form-group">
                                        <label asp-for="Ticket.TicketPriorityId" class="control-label"></label>
                                        <select asp-for="Ticket.TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Ticket.TicketStatusId" class="control-label"></label>
                                        <select asp-for="Ticket.TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Ticket.DeveloperUserId" class="control-label"></label>
                                        <select asp-for="Ticket.DeveloperUserId" class="form-control" asp-items="ViewBag.DeveloperUserId"></select>
                                    </div>
                                }
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-info" />
                                    <button type="button" class="btn btn-danger float-right" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*PRIORITIES*@
<div class="modal fade" id="priority">
    <div class="modal modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Ticket Priorities</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <h5 class="text-center">Create New Priority</h5>
                        <form asp-action="Create" asp-controller="TicketPriorities">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input name="Name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-success" />
                            </div>
                        </form>
                    </div>
                </div><hr />
                <div class="row">
                    <div class="col">
                        <h5 class="text-center">Existing Priorities</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        Priority
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.TicketPriorities)
                                {
                                    <tr>
                                        <td></td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            <form asp-action="Delete" asp-controller="TicketPriorities" asp-route-id="@item.Id" class="form-group">
                                                <input type="submit" value="Remove" class="btn btn-danger btn-sm" />
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info float-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*STATUSES*@
<div class="modal fade" id="statuses">
    <div class="modal modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Ticket Statuses</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <h5 class="text-center">Create New Status</h5>
                        <form asp-action="Create" asp-controller="TicketStatus">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input name="Name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-success" />
                            </div>
                        </form>
                    </div>
                </div><hr />
                <div class="row">
                    <div class="col">
                        <h5 class="text-center">Existing Statuses</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        Status
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.TicketStatuses)
                                {
                                    <tr>
                                        <td></td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            <form asp-action="Delete" asp-controller="TicketStatus" asp-route-id="@item.Id" class="form-group">
                                                <input type="submit" value="Remove" class="btn btn-danger btn-sm" />
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info float-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*TYPES*@
<div class="modal fade" id="type">
    <div class="modal modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Ticket Types</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <h5 class="text-center">Create New Type</h5>
                        <form asp-action="Create" asp-controller="TicketTypes">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input name="Name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-success" />
                            </div>
                        </form>
                    </div>
                </div><hr />
                <div class="row">
                    <div class="col">
                        <h5 class="text-center">Existing Types</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        Type
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.TicketTypes)
                                {
                                    <tr>
                                        <td></td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            <form asp-action="Delete" asp-controller="TicketTypes" asp-route-id="@item.Id" class="form-group">
                                                <input type="submit" value="Remove" class="btn btn-danger btn-sm" />
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info float-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
