@using Microsoft.AspNetCore.Identity
@using ZapX.Services
@model IEnumerable<ZapX.Models.Ticket>
@inject UserManager<BTUser> UserManager
@inject IBTAccessService AccessService


@{ 
    ViewData["Title"] = "MyTickets";
    var userId = UserManager.GetUserId(User);
    var user = await UserManager.GetUserAsync(User);
    var roleName = (await UserManager.GetRolesAsync(await UserManager.GetUserAsync(User))).FirstOrDefault();
}


<h1>@user.FullName's Tickets</h1>



<table class="myTable table-dark hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.TicketType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketPriority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketStatus)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.OwnerUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeveloperUser)
            </th>

            <th>
                Details
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>*@
    @*<td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.Project.Name)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.TicketType.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketPriority.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatus.Id)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
    </td>

    <td>
        @if (await AccessService.CanInteractTicket(userId, item.Id, roleName))
        {
            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
        }
    </td>


</tr>}
    </tbody>
</table>










