@using Microsoft.AspNetCore.Identity
@model ZapX.Models.ViewModels.TicketProjectsViewModel
@inject UserManager<BTUser> UserManager


@{
    ViewData["Title"] = "Details";
}

<h1><img src="@Model.Project.ImagePath" class="img-thumbnail" style="height:100px;width:100px" /> @Model.Project.Name Details</h1>
<br />
@if (Model.Project.Tickets.Count() == 1)
{
    <h4>There is @Model.Project.Tickets.Count() open ticket</h4>
}
else
{
    <h4>There are @Model.Project.Tickets.Count() open tickets</h4>
}


<br />
<hr />
<div class="row">
    <div class="col-3">
        <div class="card border-dark">
            <div class="card-header border-dark">
                <h5>Team Members</h5>
            </div>
            <div class="card-body users">
                @foreach (var user in Model.Project.ProjectUsers)
                {
                    var role = (await UserManager.GetRolesAsync(user.User)).FirstOrDefault();
                    if (role == "ProjectManager")
                    {
                        role = "Project Manager";
                    }
                    if (role == "NewUser")
                    {
                        role = "Unassigned";
                    }

                    <p>@user.User.FullName: <b>@role</b></p> <br />
                }
            </div>
        </div>
    </div>
    <div class="col">
        <table class="myTable">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    @*<th>
                            Description
                        </th>*@
                    <th>
                        Created
                    </th>
                    @*<th>
                            Updated
                        </th>*@
                    @*<th>
                            Project
                        </th>*@
                    <th>
                        Type
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Owner
                    </th>
                    <th>
                        Developer
                    </th>
                    <th>
                        Details
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Project.Tickets)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Updated)
                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Project.Name)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                        </td>
                        <td>
                            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Developer") || User.IsInRole("Submitter"))
                            {
                                <a class="btn btn-info" asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">Details</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<br />
<hr />
<div>
    @if (User.Identity.IsAuthenticated)
    {
        @*<a class="btn btn-success" asp-controller="Tickets" asp-action="Create" asp-route-id="@Model.Project.Id">Create Ticket</a>*@
        <a class="btn btn-success text-light" data-target="#create" data-toggle="modal">Create Ticket</a>
    }
    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
    {
        <a class="btn btn-info" asp-action="AssignUsers" asp-route-id="@Model.Project.Id">Add Users</a>
        <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Project.Id">Edit</a>
    }
    <a class="btn btn-info" asp-action="Index">Back to Projects</a>
</div>

<div class="modal" id="create">
    <div class="modal modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Create a Ticket</h4>
                <button type="button" class="btn" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <form asp-action="Create" asp-controller="Tickets" asp-route-id="@Model.Project.Id" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @Html.Hidden("ProjectId", Model.ProjectId)
                                <div class="form-group">
                                    <label asp-for="Ticket.Title" class="control-label"></label>
                                    <input asp-for="Ticket.Title" class="form-control" />
                                    <span asp-validation-for="Ticket.Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Ticket.Description" class="control-label"></label>
                                    <input asp-for="Ticket.Description" class="form-control" />
                                    <span asp-validation-for="Ticket.Description" class="text-danger"></span>
                                </div>
                                @*<div class="form-group">
                                        <label asp-for="Created" class="control-label"></label>
                                        <input asp-for="Created" class="form-control" />
                                        <span asp-validation-for="Created" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Updated" class="control-label"></label>
                                        <input asp-for="Updated" class="form-control" />
                                        <span asp-validation-for="Updated" class="text-danger"></span>
                                    </div>*@
                                <div class="form-group">
                                    <label asp-for="Ticket.TicketTypeId" class="control-label"></label>
                                    <select asp-for="Ticket.TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                                </div>
                                @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                {
                                    <div class="form-group">
                                        <label asp-for="Ticket.TicketPriorityId" class="control-label"></label>
                                        <select asp-for="Ticket.TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Ticket.TicketStatusId" class="control-label"></label>
                                        <select asp-for="Ticket.TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Ticket.DeveloperUserId" class="control-label"></label>
                                        <select asp-for="Ticket.DeveloperUserId" class="form-control" asp-items="ViewBag.DeveloperUserId"></select>
                                    </div>
                                }
                                @*else
                                    {
                                        <input type="hidden" asp-for="Ticket.TicketPriorityId" />
                                        <input type="hidden" asp-for="Ticket.TicketStatusId" />
                                    }*@
                                @*<div class="form-group">
                                        <label asp-for="OwnerUserId" class="control-label"></label>
                                        <select asp-for="OwnerUserId" class="form-control" asp-items="ViewBag.OwnerUserId"></select>
                                    </div>*@
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-info" />
                                    <button type="button" class="btn btn-danger float-right" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>