@using Microsoft.AspNetCore.Identity
@using ZapX.Services
@model IEnumerable<ZapX.Models.Project>
@inject UserManager<BTUser> UserManager
@inject IBTAccessService AccessService

@{
    ViewData["Title"] = "Index";
    var userId = UserManager.GetUserId(User);
    var roleName = (await UserManager.GetRolesAsync(await UserManager.GetUserAsync(User))).FirstOrDefault();
}
@{
    ViewData["Title"] = "Index";
}

<h1>Projects List</h1>
<h4>@Model.Count() total projects</h4>
@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-success" asp-action="Create">Create New Project</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageData)
                </th>*@
            <th>
                Details
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageData)
                    </td>*@
                @*@if (await AccessService.CanInteractTicket(userId, item.Id, roleName))*@
                
                    <td>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                

            </tr>
        }
    </tbody>
</table>
