@using Microsoft.AspNetCore.Identity
@using ZapX.Services
@model ZapX.Models.ViewModels.TicketProjectsViewModel
@inject UserManager<BTUser> UserManager
@inject IBTAccessService AccessService
@inject IBTProjectService _projectService

@{
    ViewData["Title"] = "Index";
    var userId = UserManager.GetUserId(User);
    var user = UserManager.GetUserAsync(User);
    var roleName = (await UserManager.GetRolesAsync(await UserManager.GetUserAsync(User))).FirstOrDefault();
}

<h1 class="text-center">Projects List</h1>
@if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
{
    <p>
        <a class="btn btn-success text-dark" data-toggle="modal" data-target="#create">Create a Project</a>
    </p>
}
<div class="card">
    <div class="card-header">
        <h3 class="text-left">User Project Count: @Model.Projects.Count()</h3>
    </div>
    <div class="card-body">
        <table class="myTable">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Currently Assigned
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.ImagePath)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImageData)
                        </th>*@
                    <th>
                        Details
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Projects)
                {
                    <tr>
                        <td><img src="@item.ImagePath" class="img-thumbnail" style="height:100px;width:100px" /></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.ImagePath)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImageData)
                            </td>*@
                        <td>
                            @foreach (var puser in item.ProjectUsers)
                            {
                                @puser.User.FullName <br />
                            }
                        </td>
                        <td>
                            @if (await AccessService.CanInteractProject(userId, item.Id, roleName))
                            {
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="create">
    <div class="modal modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Create a Ticket</h4>
                <button type="button" class="btn" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <form asp-action="Create" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Project.Name" class="control-label"></label>
                                    <input asp-for="Project.Name" class="form-control" />
                                    <span asp-validation-for="Project.Name" class="text-danger"></span>
                                </div>
                                @*<div class="form-group">
                                        <label asp-for="ImagePath" class="control-label"></label>
                                        <input asp-for="ImagePath" class="form-control" />
                                        <span asp-validation-for="ImagePath" class="text-danger"></span>
                                    </div>*@
                                <div class="form-group">
                                    <label for="FileName" class="control-label"></label>
                                    <input name="image" type="file" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-success" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
