@using Microsoft.AspNetCore.Identity
@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZapX</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link href="~/css/bootstrap-dark.min.css" rel="stylesheet" />
    <link href="~/css/app-dark.min.css" rel="stylesheet" />
    <link href="~/css/icons.min.css" rel="stylesheet" />
    <link href="~/css/keyTable.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/css/select.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link href="~/css/custom.css" rel="stylesheet" />
</head>
<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <div class="navbar-brand-box">

                        <a asp-action="Index" asp-controller="Home" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="~/images/logo.svg" alt="" height="22" />
                            </span>
                            <span class="logo-lg">
                                <img src="~/images/Small-zapx-PixTeller.png" alt="" height="40" />
                            </span>
                        </a>
                    </div>

                    @*<button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                            <i class="mdi mdi-backburger"></i>
                        </button>*@

                </div>


                <ul class="navbar-nav mr-5">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" aria-expanded="true" title="Manage"><img src="~/images/deffault.png" style="height:30px;width:30px;border-radius:50px 50px 50px 50px" />&nbsp;&nbsp;&nbsp;Hello, @user.FullName!
                            </a>
                            <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink">
                                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="text-muted">Profile</a>
                                <hr />
                                @if (User.IsInRole("Admin"))
                                {
                                    <span>Role: <b>Admin</b></span>
                                }
                                @if (User.IsInRole("ProjectManager"))
                                {
                                    <span>Role: <b>Project Manager</b></span>
                                }
                                @if (User.IsInRole("Developer"))
                                {
                                    <span>Role: <b>Developer</b></span>
                                }
                                @if (User.IsInRole("Submitter"))
                                {
                                    <span>Role: <b>Submitter</b></span>
                                }
                                @if (User.IsInRole("NewUser"))
                                {
                                    <span>Role: <b>Unassigned</b></span>
                                }
                                <hr />
                                <a data-target="#logout" data-toggle="modal">Logout</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </header>


        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    @*<partial name="_LoginPartial" />*@
                    <ul id="side-menu">

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="list-unstyled">
                                <h5><b>Manage</b></h5>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Tickets" asp-action="Index">Tickets</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="UserRoles" asp-action="ManageUserRoles">User Roles</a>
                            </li>
                        }
                        @if (!User.IsInRole("Admin"))
                        {
                            <li class="list-unstyled">
                                <h5><b>User</b></h5>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Projects" asp-action="MyProjects">Projects</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Tickets" asp-action="UserTickets">Tickets</a>
                            </li>
                        }
                    </ul>


                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>


            <footer class="footer pb-4">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            &copy; 2020 - ZapX - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            Made by <a href="ejdevspot.com" target="_blank">Eli Jones</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- end main content-->
    <div class="modal fade" id="logout">
        <div class="modal modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title">Logout</h4>
                    <button type="button" class="btn" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h4>Are you sure you want to logout?</h4>
                                <br />
                                <form class="form-group" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("LandingPage", "Home", new { area = "" })">
                                    <button type="submit" class="btn btn-danger float-right">Logout</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/metisMenu.min.js"></script>
    <script src="~/js/simplebar.min.js"></script>
    <script src="~/js/waves.min.js"></script>
    <script src="~/js/autoFill.bootstrap4.min.js"></script>
    <script src="~/js/buttons.bootstrap4.min.js"></script>
    <script src="~/js/keyTable.bootstrap4.min.js"></script>
    <script src="~/js/responsive.bootstrap4.min.js"></script>
    <script src="~/js/select.bootstrap4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    @if (TempData["DemoLockout"] != null)
    {
        <script>
            function alertFn() {
                alert(@TempData["DemoLockout"]);
            }
        </script>
    }
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.myTable').DataTable({
                searching: true,
            });

            $('#anotherTable').DataTable({
                searching: false
            });

        });
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>




@*<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - ZapX</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/bootstrap-dark.min.css" rel="stylesheet" />
        <link href="~/css/app-dark.min.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">ZapX</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Tickets" asp-action="Index">Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="UserRoles" asp-action="ManageUserRoles">Manage Roles</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted bg-dark">
            <div class="container">
                &copy; 2020 - ZapX - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/app.js"></script>
        @RenderSection("Scripts", required: false)
        <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.myTable').DataTable({
                    searching: true
                });

                $('#anotherTable').DataTable({
                    searching: false
                });

            });
        </script>
    </body>
    </html>*@